name: Release
on:
  push:
    tags: ['*']

jobs:
  build:
    uses: commercial-emacs/dignified-elpa/.github/workflows/build.yml@v1
    with:
      files: "gnus-summarize.el gnus-summarize-package.el nnsummarize.el"
